.account__info {
    width: 30%;
    margin: 3rem auto 0;
    padding: 2rem;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-content: center;
    box-shadow: 0 5px 10px #9e9ca0;
}

.account__info .account__info--text {
    margin-bottom: 2rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.account__info .account__info--text .amount {
    font-size: 1.25rem;
    color: #333;
    margin-bottom: 3px;
}

.account__info .account__info--text .account__field-name {
    font-size: 1rem;
    color: #777;
}

.account__info .account__withdraw--btn {
    width: 10rem;
    align-self: flex-end;
}

.account__info .account__info--text .input-full-width {
    width: 100%;
}

.mat-progress-spinner {
    margin: 5rem auto 0;
}
